{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Movie Bargain{% block title %} {% endblock %}
</title>
    {% include 'base/css.html' %}

  </head>
  <body>
    {% include 'base/navbar.html' with brand_name='eflooring' %}
    <div class="container">
          {% if messages %}
             <div class="my-4 alert alert-success messages">
                 {% for message in messages %}
                 <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                     {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                     {{ message }}<br/>
                 </span>
                 {% endfor %}
             </div>
         {% endif %}

         {% block content %} {% endblock %}
    </div>
    {% include 'base/js.html' %}
  </body>


</html>
