{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class='text-center py-3'>
        <h1>Recent Movies</h1>
    </div>
    <div class='row py-3'>
      {% for movie in movies %}
      <div class='col-12 col-md-6 col-lg-4'>
          <div class="card">
            <a href="{% url 'movie' movie_id=movie.ID %}">
              <img class="card-img-top" src="{{ movie.Poster }}" alt="{{ movie.Title }}" >
              </a>
            <div class="card-body">
              <p class="card-text">  Title: {{ movie.Title }}</p>
              <p class="card-text">  Year: {{ movie.Year }}</p>
              <p class="card-text">  ID: {{ movie.ID }}</p>
              <a href="{% url 'movie' movie_id=movie.ID %}">
                <input type="button" class="btn btn-primary" value="Compare The Price"/>
              </a>
            </div>
          </div>

      {% if forloop.counter|divisibleby:3 %}
      </div>
    </div>
    <div class='row'><div class='col-12'><hr/></div>
    {% else %}
    </div>
    {% endif %}
    {% endfor %}




{% endblock %}
