{% extends "base.html" %}
{% load static %}
{% block title %}
  -{% if cw_movie.Title %}
    {{ cw_movie.Title }}
  {% else %}
    -{{ fw_movie.Title }}
  {% endif %}
{% endblock %}
{% block content %}

    <div class='text-center py-3'>
        <h1>Compare Providers</h1>
    </div>


            <div class='row py-3'>
              <div class='col-12 col-md-4 col-lg-4'>
                <img src="{{ cw_movie.Poster }}" alt="Card image cap">
              </div>
              <div class='col-12 col-md-6 col-lg-4'>
                <p class="card-text">  <h2>Provider: Cinemaworld</h2></p>
                {% if cw_movie is not None %}
                <p class="card-text"> <h2> Price: {{ cw_movie.Price }}</h2></p>
                <p class="card-text">  Title: {{ cw_movie.Title }}</p>
                <p class="card-text">  Year: {{ cw_movie.Year }}</p>
                <p class="card-text">  ID: {{ cw_movie.ID }}</p>
                <p class="card-text">  Rated: {{ cw_movie.Rated }}</p>
                <p class="card-text">  Released: {{ cw_movie.Released }}</p>
                <p class="card-text">  Runtime: {{ cw_movie.Runtime }}</p>
                <p class="card-text">  Genre: {{ cw_movie.Genre }}</p>
                <p class="card-text">  Director: {{ cw_movie.Director }}</p>
                <p class="card-text">  Writer: {{ cw_movie.Writer }}</p>
                <p class="card-text">  Plot: {{ cw_movie.Plot }}</p>
                <p class="card-text">  Country: {{ cw_movie.Country }}</p>
                <p class="card-text">  Metascore: {{ cw_movie.Metascore }}</p>
                <p class="card-text">  Rating: {{ cw_movie.Rating }}</p>
                <p class="card-text">  Votes: {{ cw_movie.Awards }}</p>
                {% else %}
                <h3>Not Available</h3>
                {% endif %}
              </div>

              <div class='col-12 col-md-4 col-lg-4'>
                <p class="card-text">  <h2>Provider: Filmworld</h2></p>
                {% if fw_movie is not None %}
                <p class="card-text title"> <h2> Price: {{ fw_movie.Price }}</h2></p>
                <p class="card-text">  Title: {{ fw_movie.Title }}</p>
                <p class="card-text">  Year: {{ fw_movie.Year }}</p>
                <p class="card-text">  ID: {{ fw_movie.ID }}</p>
                <p class="card-text">  Rated: {{ fw_movie.Rated }}</p>
                <p class="card-text">  Released: {{ fw_movie.Released }}</p>
                <p class="card-text">  Runtime: {{ fw_movie.Runtime }}</p>
                <p class="card-text">  Genre: {{ fw_movie.Genre }}</p>
                <p class="card-text">  Director: {{ fw_movie.Director }}</p>
                <p class="card-text">  Writer: {{ fw_movie.Writer }}</p>
                <p class="card-text">  Plot: {{ fw_movie.Plot }}</p>
                <p class="card-text">  Country: {{ fw_movie.Country }}</p>
                <p class="card-text">  Metascore: {{ fw_movie.Metascore }}</p>
                <p class="card-text">  Rating: {{ fw_movie.Rating }}</p>
                <p class="card-text">  Votes: {{ fw_movie.Awards }}</p>
                {% else %}
                <h3>Not Available</h3>
                {% endif %}
              </div>
          </div>




{% endblock %}
